
body{
    font-size: 62.5%;
    font-family: sans-serif;
}

.container{
    width:1140px;
    border : 3px solid black;
    margin: 10px auto;
    padding: 40px;
}

.main{
    font-size: 3rem;
}

.para{
    font-size: 1.25rem;
    font-style: italic;
}

.container img{
    width: 100%;
    object-fit: cover;
}

.head-two{
    font-size: 2rem;
}

.items{
    font-size: 1.5rem;
}

.list{
    font-size: 1rem;
}