body{
    background-image: url("colorful-stingrays.svg");
    margin:10px;
}

.box1{
    height: 300px;
    width : vw;
    margin: 10px 20px;
    background-color: gold;
    border: 10px solid red;
    padding: 10px;
}

.boxes{
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: blue;
    display: inline-block;
    border: 5px solid black;
}

.container{
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex{
    height:8rem;
    width:8rem;
    background-color: gold;
    margin:10px;
}

.container-two{
    display: grid;  
    grid-template-columns: repeat(3, 100px);
    grid-template-columns: repeat(2, 100px);
    border: 4px dashed red;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
}
